@tailwind base;
@tailwind components;
@tailwind utilities;

.scoreContent {
  background-color: cyan;
  border-radius: 20px;
  margin-top: 200px;
  width: auto;
  height: 120px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: #85796b;
}
